/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env

vendor/
node_modules/
npm-debug.log
public/storage
public/hot
public/photos
public/files
public/photos/
public/files/
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
.idea
.idea/
